.form {
  background-color: #fff;
  max-width: 55rem;
  margin: 10% auto;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2.5rem 8rem 2rem;
  padding: 5rem 7rem;
  border-radius: 5px;
  h1 {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-color);
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
    margin-bottom: 3rem;
  }
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &:focus {
      outline: none;
      border-bottom: 3px solid var(--main-color);
    }
    &:placeholder-shown + label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
    }
  }

  &__label {
    // position: absolute;
    // top: 1.7rem;
    // left: 2rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
    display: block;
    transition: all 0.3s;
    font-size: 1.2rem;
    color: var(--gray-color-dark);
    opacity: 1;
  }
  &__groupv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__radioInput {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    input {
      display: none;
      &:not(:checked) + label,
      &:checked + label {
        position: relative;
        padding-left: 1.95em;
        cursor: pointer;
      }
      &:not(:checked) + label:before,
      &:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.3rem;
        width: 1.25em;
        height: 1.25em;
        border: 2px solid #ccc;
        background: #fff;
        border-radius: 4px;
        box-shadow: inset 0 1px 3px rgba(255, 188, 0, 0.71);
      }
      &:not(:checked) + label:after,
      &:checked + label:after {
        content: '\2713\0020';
        position: absolute;
        top: 0;
        left: 0.1em;
        font-size: 1.7em;
        line-height: 0.8;
        color: var(--main-color);
        transition: all 0.2s;
        font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
      }
      &:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }
      &:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
      &:disabled:not(:checked) + label:before,
      &:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }
      &:disabled:checked + label:after {
        color: #999;
      }
      &:disabled + label {
        color: #aaa;
      }
    }
    &--label:hover:before {
      border: 2px solid var(--main-color) !important;
    }
  }
}
