.toggler {
  line-height: 0;
  &__input {
    display: none;
    &:checked {
      & + label .toggler__icon {
        background-color: transparent;
        transform: translate(0px, 0px);
      }
      & + label .toggler__icon::before {
        top: 0;
        transform: rotate(135deg);
      }
      & + label .toggler__icon::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }
  label {
    padding: 1rem;
    z-index: 8;
    cursor: pointer;
  }
  &__icon,
  &__icon::before,
  &__icon::after {
    background-color: #fff;
    display: inline-block;
    height: 0.1em;
    width: 2.5em;
  }
  &__icon {
    z-index: 8;
    transition: all 0.7s;
    position: relative;
    &::before {
      content: '';
      transition: all 0.2s;
      position: absolute;
      top: -6px;
    }
    &::after {
      content: '';
      transition: all 0.2s;
      position: absolute;
      top: 6px;
    }
  }
}
