@import '../../utility.scss';
.carousal_wrapper {
  padding: 2rem;
  h1 {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    select {
      margin-left: 2rem;
    }
  }
  .loader {
    display: flex;
    &__item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
      flex: 0 0 33%;
      height: 44rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      animation: shimmer 2s infinite linear;
      background: linear-gradient(
        to right,
        #eff1f3 4%,
        #e2e2e2 25%,
        #eff1f3 36%
      );
      background-size: 1000px 100%;
      @include respond(phone) {
        flex: 0 0 50%;
      }
    }
    @keyframes shimmer {
      0% {
        background-position: -1000px 0;
      }
      100% {
        background-position: 1000px 0;
      }
    }
  }
}
