@use "../../utility" as *;
.navbar {
  background-color: var(--secondary-color);
  color: #fff;
  &_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    @include respond(phone) {
      flex-wrap: wrap;
    }
  }
}
