.nav_list ul {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    padding: 0 2rem;
    span {
      padding-bottom: 1.5rem;
      border-bottom: 3px transparent solid;

      &:hover a {
        border-bottom: 3px var(--main-color) solid;
        padding-bottom: 0.5rem;
      }
    }
    a {
      color: #fff;
      text-transform: uppercase;
      border-bottom: 3px #ccc solid;
      padding-bottom: 1.5rem;
      transition: border-color 0.5s, padding-bottom 0.5s;
    }
  }
}
