@import '../../../utility';
.showcase {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 2rem;
  position: relative;
}
.showcase::before {
  content: '';
  background: url('./atlantis-bg.jpg') no-repeat fixed center -108px / cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;

  @include respond(tab-port) {
    background: url('./atlantis-bg.jpg') no-repeat fixed top
      center / 900px;
  }
  @include respond(phone) {
    background: url('./atlantis-bg.jpg') no-repeat fixed top;
  }
}
.showcase .showcase__container {
  width: 40%;
  margin: 0 auto;
  display: grid;
  @include respond(tab-port) {
    width: 80%;
  }
}
.showcase .showcase__content {
  z-index: 1;
  padding: 10rem 0;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.showcase .showcase__content b {
  font-size: 1.5rem;
  font-weight: 800;
}
