.drawer {
  position: fixed;
  width: 280px;
  max-width: 60%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 7;
  background-color: #fff;
  padding: 30px 16px;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out;
  &__open {
    transform: translateX(0);
  }
  &__header {
    background-color: var(--secondary-color);
    border-radius: 5rem;
  }
  &__nav {
    font-size: 2.6rem;
    margin-top: 2rem;
    list-style: none;
    a,
    a:visited,
    a:active {
      color: var(--gray-color-dark);
    }
    li {
      padding: 2rem 2rem 2rem;
    }
  }
}
