:root {
  --main-color: #ffbc00;
  --secondary-color: #333;
  --background-color: #f7f7f7;

  --gray-color-dark: #777;
  --gray-color-light1: #faf9f9;
  --gray-color-light2: #f4f2f2;
  --gray-color-light3: #f0eeee;

  --max-width: 120rem;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}
img {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2rem;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* utilities */
.container {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 2rem;
}

.bottom-line {
  height: 2px;
  width: 50%;
  background-color: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto;
}
/* paddings */
.pt-6 {
  padding-top: 6rem;
}
/* margins */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
}
