.review {
  &__card {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem;
    &:not(:last-child) {
      border-bottom: 1px dashed var(--gray-color-light2);
    }
    .review__img {
      flex: 0 0 16%;
      img {
        border-radius: 50%;
      }
    }

    .review__desc {
      flex: 1;
      align-self: start;
      margin-left: 2rem;
      .review__header {
        display: flex;
        justify-content: space-between;
        p {
          font-weight: 700;
          span {
            font-weight: initial;
            font-size: 1.2rem;
            margin-left: 2rem;
            color: var(--gray-color-dark);
          }
        }
        .review__rating {
          .reviews__star {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--gray-color-dark);
          }
          .reviews__star--active {
            fill: var(--main-color);
          }
        }
      }
    }
  }
}
