.search {
  flex: 0 0 50%;
  text-align: center;
  &__input {
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    color: var(--gray-color-dark);
    background-color: var(--gray-color-light1);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    margin-right: -3.5rem;
    transition: 0.2s all;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--gray-color-light3);
    }
  }
  &__button {
    border: none;
    background-color: var(--gray-color-light2);
    vertical-align: middle;
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--gray-color-dark);
  }
}
