@import '../../utility.scss';
.key-details {
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  @include respond(phone) {
    display: block;
  }
  & > div {
    background-color: #fff;
  }
  .guides__section {
    h2 {
      margin-bottom: 2.5rem;
    }
    padding: 2.5rem 1rem 2.5rem 2.5rem;
    flex: 1;
    margin-right: 1rem;
  }

  .guides {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__shape:not(:last-child) {
      margin-right: 1rem;
    }
    &__shape {
      position: relative;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      @include respond(phone) {
        width: 25rem;
        height: 25rem;
      }
      &:hover .guides__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
      img {
        transform: scale(1.2);
        transition: all 0.2s;
        @include respond(phone) {
          transform: scale(1.1);
          filter: blur(1px) brightness(80%);
        }
      }
      &:hover img {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
      }
    }
    &__caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 78px);
      color: #fff;
      text-transform: uppercase;
      font-size: 1.7rem;
      text-align: center;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden;
      @include respond(phone) {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
      span {
        font-size: 0.9rem;
        display: block;
      }
    }
  }
  .detail-box {
    align-self: stretch;
    padding: 2.5rem 2.5rem 1rem 1rem;

    h2 {
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      text-align: initial;
    }
    &__detail:not(:last-child) {
      margin-bottom: 1rem;
      border-bottom: 1px dashed var(--gray-color-dark);
      padding-bottom: 1rem;
    }
    &__detail {
      display: flex;
      align-items: center;
    }
    &__icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--main-color);
    }
    &__label {
      margin-left: 1rem;
      font-weight: 700;
      margin-right: 1rem;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}
